body {
    background-color: #19a2ae;
    text-align: center;
    width: 100%;
    height: 100%;
    margin:0;
}

@media only screen and (min-width: 992px){
    hr {
        color: #f2f2f2;
        border-style: solid;
        height:0;
        margin: 25px auto;
        border-width: 1px;
    }

    .age {
        color: #969696;
    }

    .banner {
        margin: 0;
    }

    .bottom-circle {
        position: relative;
        bottom: 560px;
        left: 500px;
    }

    .city, .num-desc {
        font-size: 1rem;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 400;
        color: #2d3248;
        margin-top: 10px;
    }

    .clip {
        background-color: #fff;
        clip-path: circle(50% at center);
        height: 91px;
        width: 91px;
        position: absolute;
        right: 130px;
        top: 80px;
    }

    .main-square {
        background-color: #fff;
        border-radius: 20px;
        position: absolute;
        margin: auto;
        right: 800px;
        bottom: 300px;
        height: 350px;
        width: 350px;
        overflow: hidden;
        filter: drop-shadow(0 15mm 3rem #106870);
    }

    .name, .age {
        display: inline;
        font-size: 1.125rem;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 700;
    }

    .name {
        color: #2d3248;
    }


    .num-desc {
        font-size: 0.9rem;
    }

    .stats {
        display: inline-block;
        margin: 0 20px;
    }

    .stats-name {
        font-size: 1rem;
    }

    .top-circle {
        position: relative;
        right: 500px;
        bottom: 500px;
    }

    .victor {
        clip-path: circle(50% at center);
        position: absolute;
        top: 5px;
        right: 5px;
        width: 82px;
    }
}

@media only screen and (max-width: 1000px) {
    hr {
        color: #f2f2f2;
        border-style: solid;
        height: 0;
        border-width: 1px;
        margin: 0;
    }

    .age {
        color: #969696;
    }

    .banner {
        margin: 0;
    }

    .bottom-circle {
        position: relative;
        width: 600px;
        left:150px;
        bottom: 250px;
    }

    .city, .num-desc {
        font-size: 1rem;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 400;
        color: #2d3248;
    }

    .clip {
        background-color: #fff;
        clip-path: circle(50% at center);
        height: 91px;
        width: 91px;
        position: absolute;
        right: 130px;
        top: 80px;
    }

    .main-square {
        background-color: #fff;
        border-radius: 20px;
        height: 350px;
        width: 350px;
        overflow: hidden;
        filter: drop-shadow(0 15mm 3rem #106870);
    }

    .name, .age {
        font-size: 1.125rem;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 700;
    }

    .name {
        color: #2d3248;
    }

    .num-desc {
        font-size: 0.9rem;
    }

    .stats-name {
        font-size: 1rem;
    }

    .top-circle {
        position: relative;
        width: 600px;
        right: 350px;
        bottom: 350px;
    }

    .victor {
        clip-path: circle(50% at center);
        position: absolute;
        top: 5px;
        right: 5px;
        width: 82px;
    }
}
