body {
    background: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: calc(50vw - 1000px) calc(50vh - 900px), calc(48vw) calc(50vh - 50px);
    background-color: #19a2ae;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
}

hr {
    color: #f2f2f2;
    border-style: solid;
    height: 0;
    border-width: 1px;
    margin: 0;
}

.banner {
    margin: 0;
}

.block {
    background-color: #fff;
    border-radius: 20px;
    height: 350px;
    width: 350px;
    overflow: hidden;
    filter: drop-shadow(0 15mm 3rem #106870);
}

.block_age {
    color: #969696;
}

.block_name, .block_age {
    font-size: 1.125rem;
}

.block_name {
    color: #2d3248;
}

.bottom-circle {
    position: relative;
    width: 600px;
    left: 150px;
    bottom: 250px;
}

.bottom-words {
    color: #fff;
    font-size: 0.8rem;
}

.city, .num-desc {
    font-size: 1rem;
    font-weight: 400;
    color: #2d3248;
}

.clip {
    background-color: #fff;
    clip-path: circle(50% at center);
    height: 91px;
    width: 91px;
    position: absolute;
    right: 130px;
    top: 80px;
}

.container {
    height: 90vh;
}

.footer {
    display: block;
}

.num-desc {
    font-size: 0.9rem;
}

.stats-name {
    font-size: 1rem;
}

.top-circle {
    position: relative;
    width: 600px;
    right: 350px;
    bottom: 350px;
}

.victor {
    clip-path: circle(50% at center);
    position: absolute;
    top: 5px;
    right: 5px;
    width: 82px;
}
