body {
    background-color: #19a2ae;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
}

hr {
    color: #f2f2f2;
    border-style: solid;
    height: 0;
    border-width: 1px;
    margin: 0;
}

.age {
    color: #969696;
}

.banner {
    margin: 0;
}

.bottom-circle {
    position: relative;
    width: 600px;
    left: 150px;
    bottom: 250px;
}

.bottom-words {
    color: #fff;
    font-size: 0.8rem;
}

.city, .num-desc {
    font-size: 1rem;

    font-weight: 400;
    color: #2d3248;
}

.clip {
    background-color: #fff;
    clip-path: circle(50% at center);
    height: 91px;
    width: 91px;
    position: absolute;
    right: 130px;
    top: 80px;
}

.container {
    height: 90vh;
}

.footer {
    display: block;
}

.main-square {
    background-color: #fff;
    border-radius: 20px;
    height: 350px;
    width: 350px;
    overflow: hidden;
    filter: drop-shadow(0 15mm 3rem #106870);
}

.name, .age {
    font-size: 1.125rem;
    font-weight: 700;
}

.name {
    color: #2d3248;
}

.num-desc {
    font-size: 0.9rem;
}

.stats-name {
    font-size: 1rem;
}

.top-circle {
    position: relative;
    width: 600px;
    right: 350px;
    bottom: 350px;
}

.victor {
    clip-path: circle(50% at center);
    position: absolute;
    top: 5px;
    right: 5px;
    width: 82px;
}
